.container {
  display: flex;
  height: 100%; 
  flex-direction: row-reverse;
  align-items: flex-start; 
}

.item {
  align-self: flex-end;
  width: 350px;
  height: 250px;
}

.green {
  background-color: #019a01;
}

.yellow {
  background-color: yellow;
  flex-basis: 60%;
}

.purple {
  background-color: purple;
}